<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link href="/styles/main.css" rel="stylesheet">
</head>

<body>
  <nav class="px-16 text-white font-semibold bg-primary-100 flex justify-between items-center text-md">
    <a href="/"><img src="https://www.reshot.com/preview-assets/icons/C2KHAM4NS9/explore-C2KHAM4NS9.svg"
        alt="Dhampus Sarangkot Luxury Trek" class="size-12 m-2 self-center" /></a>
    <ul class="flex items-center space-x-4">
      <div class="relative inline-block">
        <button class="text-white py-4 px-2 text-2xl border-none hover:underline hover:underline-offset-4 font-semibold">Categories</button>
        <div class="absolute hidden bg-gray-200 min-w-[160px] shadow-md z-10">
          <a href="/category/unexplored"
            class="block text-black py-3 px-4 no-underline hover:bg-gray-300">Unexplored</a>
          <a href="/category/historical"
            class="block text-black py-3 px-4 no-underline hover:bg-gray-300">Historical</a>
          <a href="/category/cultural" class="block text-black py-3 px-4 no-underline hover:bg-gray-300">Cultural</a>
          <a href="/category/naturistic"
            class="block text-black py-3 px-4 no-underline hover:bg-gray-300">Naturistic</a>
          <a href="/category/popular" class="block text-black py-3 px-4 no-underline hover:bg-gray-300">Popular</a>
        </div>
      </div>
    </ul>
  </nav>

  <div class="py-4 px-16 flex justify-between">
    <h1 class="text-3xl font-serif">
      <%= title %>
    </h1>
    <a href="/destinations/add" class="py-3 px-4 bg-blue-600 text-white font-semibold hover:bg-blue-700 rounded-md">
      Found a new place? 📍 Add here
    </a>
  </div>

  <div class="flex flex-wrap items-center justify-center">
    <% places.forEach(function(place) { %>
      <div
        class="m-4 bg-slate-200 hover:shadow-xl group hover:shadow-slate-500/45 transition-all duration-500 text-black/80 rounded-md pr-3 flex space-x-8 items-center w-2/3">
        <img src="/uploads/<%= place.image %>" alt="Pokhara" class="h-[300px] w-1/4 object-cover rounded-md">
        <div class="flex flex-col space-y-2 my-4 flex-1 text-slate-800">
          <h2
            class="text-2xl font-semibold text-primary-200 group-hover:underline underline-offset-4 transition-all duration-500">
            <%= place.title %>
          </h2>
          <h2 class="text-base font-semibold text-justify">
            <%= place.description %>
          </h2>
          <h2 class="text-base font-semibold">Location: <%= place.location %>
          </h2>
          <h2 class="text-base font-semibold">Accommodation: <%= place.accomodation %>
          </h2>
          <h2 class="text-base font-semibold">Tips: <%= place.tips %>
              <h2 class="text-base font-semibold">Category: <%= place.category %>
              </h2>
              <h2 class="text-base font-semibold">Current availability: <%= place.currentStatus %>
              </h2>
        </div>
        <div class="self-end pb-4">
          <a href="/reviews/<%= place._id %>" class="font-medium mb-4 hover:text-blue-700 cursor-pointer">Review →</a>
        </div>
      </div>
      <% }) %>
  </div>

  <script src="/styles/script.js"></script>
</body>

</html>