<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title%>
  </title>
  <link href="/styles/main.css" rel="stylesheet">
</head>

<body>
  <nav class="px-6 py-3 text-white font-semibold bg-primary-100 flex justify-between items-center">
    <h2 class="text-xl font-semibold p-2"><a href="/">WanderPokhara</a></h2>
    <ul class="flex items-center space-x-4">
      <div class="relative inline-block">
        <button class="py-4 px-6 border-none hover:underline hover:underline-offset-4">Categories</button>
        <div class="absolute hidden  bg-gray-200 min-w-[160px] shadow-md z-10">
          <a href="/category/unexplored"
            class="block text-black py-3 px-4 no-underline hover:bg-gray-300">Unexplored</a>
          <a href="/category/historical"
            class="block text-black py-3 px-4 no-underline hover:bg-gray-300">Historical</a>
          <a href="/category/cultural" class="block text-black py-3 px-4 no-underline hover:bg-gray-300">Cultural</a>
          <a href="/category/naturistic"
            class="block text-black py-3 px-4 no-underline hover:bg-gray-300">Naturistic</a>
            <a href="/category/popular" class="block text-black py-3 px-4 no-underline hover:bg-gray-300">Popular</a>

        </div>
      </div>
      <li><a href="/reviews" class="hover:underline hover:underline-offset-4">Review</a></li>
    </ul>
  </nav>
  <div class="p-4 flex justify-between">
    <h1 class="text-3xl font-serif">
      <%= title%>
    </h1>
    <a href="/destinations/add" class="block text-black py-3 px-4 no-underline hover:bg-gray-300 hover:rounded-md">Want to add any unexplores places? Click here!</a>

  </div>
  <%places.forEach(function(place){%>
    <div class="m-4 bg-slate-200 text-black/80 rounded-md p-4 flex space-x-8 items-center">
      <img
        src="https://i0.wp.com/www.littlethingstravel.com/wp-content/uploads/2017/07/International-Mountain-Museum-Things-to-do-in-Pokhara-Nepal.jpg?ssl=1"
        alt="Pokhara" class="size-56 rounded-sm object-cover">
      <div class="flex flex-col space-y-2">
        <h2 class="text-2xl font-semibold text-primary-200">
          <%= place.title%>
        </h2>
        <h2 class="text-base font-semibold">
          <%= place.description%>
        </h2>
        </h2>
        <h2 class="text-base font-semibold">Location:<%= place.location%>
        </h2>
        </h2>
        <h2 class="text-base font-semibold">Facilities: <%= place.facilities%>
        </h2>
        <h2 class="text-base font-semibold">Tips: Visit morinig time</h2>
        <h2 class="text-base font-semibold">Category: <%= place.category%>
        </h2>
      </div>
    </div>
    <%})%>
      <script src="/styles/script.js"></script>
</body>

</html>